<!--Company Information HTML page
    As instructed, used any layout I wanted as long as I include required information in this page (DONE)-->

<div class="company">
	<div id="leftSide">
		<h4>Welcome to {{companyInfo.companyName}}!</h4>
		<img src="assets/images/{{companyInfo.companyPhoto}}" width="50px"> 
		<p>You may contact us using the following:</p>
		<p>{{companyInfo.companyEmail}}</p>
		<p>{{companyInfo.companyPhone}}</p>

	</div>

	<div id="rightSide">
		<h4>Company Information</h4>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet elit consectetur dapibus dictum.
			 Sed egestas eget eros ut malesuada. Aenean molestie tristique feugiat. Praesent scelerisque finibus velit,
			bibendum ornare ipsum consectetur et. </p>
	</div>
</div>


<!--
  "companyName" : "A4 Clothing",
	"companyEmail": "a4.clothing@notarealcompany.com",
	"companyPhone" : "(101) 555 1212",
	"companyPhoto" : "a4company.svg"-->