/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/*CSS For Header and Footer Lines as stated per Instructions*/
/* Text Colour, Background Colour, Italic, Center*/
h3{
  color: crimson ;
  background-color: #FBC723;
  font-style: italic;
  text-align: center;
  font-weight: bold;

}
